xsd/v2/mp/HealthAndBeauty.xsd

<?xml version="1.0" encoding="UTF-8"?><!--  Schema for data exchanged between Walmart and its partners. Copyright 2015 Walmart Corporation. All rights reserved. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://walmart.com/" targetNamespace="http://walmart.com/" elementFormDefault="qualified" version="2.1">
     <xsd:include schemaLocation="MPProductCommons.xsd"/>
     <xsd:complexType name="HealthAndBeautyElectronics">
          <xsd:sequence>
               <xsd:element name="batteriesRequired" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Indicates if batteries are required to use the item. Batteries may or may not be included. To specify battery inclusion and type, use the "Has Batteries" and "Battery Technology Type" attributes in the root spec. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="batterySize" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="connections" minOccurs="0" maxOccurs="1" type="Connections">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="isCordless" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="hasAutomaticShutoff" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="screenSize" minOccurs="0" maxOccurs="1" type="LengthUnit">
                    <xsd:annotation>
                         <xsd:documentation>Typically measured on the diagonal in inches. Example: 42 in; 110 in; 5.6 in</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="displayTechnology" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The primary technology used for the item's display. Example: OLED; Retina Display; DLP; Plasma; LCD</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="Optical">
          <xsd:sequence>
               <xsd:element name="frameMaterial" minOccurs="0" maxOccurs="1" type="FrameMaterial">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="shape" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Physical shape of the item. Example: Aviator; Cateye; Horned; Oval; Rectangle; Round; Square; Wayfarer</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="eyewearFrameStyle" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Fashion style of eyeglasses. Example: Full-Rim; Rimless; Semi-Rimless</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="lensMaterial" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Plastic; Glass</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="eyewearFrameSize" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: 122mm</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="uvRating" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Ultraviolet rating for eyewear. Example: 400; 300</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:integer"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isPolarized" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Indicates if eyeglasses are polarized. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="lensTint" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Color of lens tint. Example: Blue;Yellow</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isScratchResistant" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="hasAdaptiveLenses" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Indicates that lenses transition from clear to tinted when exposed to light. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="lensType" minOccurs="0" maxOccurs="1" type="LensType">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="MedicalAids">
          <xsd:sequence>
               <xsd:element name="isInflatable" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Indicates that an item can be inflated. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isWheeled" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Indicates that an item has wheels and can be rolled. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isFoldable" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Indicates that an item can be folded. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isIndustrial" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Indicates that an item can be used in an industrial setting or has an industrial application. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="diameter" minOccurs="0" maxOccurs="1" type="LengthUnit">
                    <xsd:annotation>
                         <xsd:documentation> Example: 29 mm</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="isAssemblyRequired" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Is product unassembled and must be put together before use?</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="assemblyInstructions" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>URL location showing assembly instructions for items requiring assembly.</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:anyURI">
                              <xsd:maxLength value="2000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="maximumWeight" minOccurs="0" maxOccurs="1" type="WeightUnit">
                    <xsd:annotation>
                         <xsd:documentation>Especially for use with outdoor play structures. Example: 220 lb</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="isLatexFree" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isWaterproof" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="healthConcerns" minOccurs="0" maxOccurs="1" type="HealthConcerns">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="PersonalCare">
          <xsd:sequence>
               <xsd:element name="ingredientClaim" minOccurs="0" maxOccurs="1" type="IngredientClaim">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="isLatexFree" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="absorbency" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Super; Maximum; Light</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="resultTime" minOccurs="0" maxOccurs="1" type="TimeUnit">
                    <xsd:annotation>
                         <xsd:documentation> Example: 2 min</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="skinCareConcern" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Anti-Aging; Redness</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="skinType" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Normal; Dry; Oily</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="hairType" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Curly; Dry; Thick</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="skinTone" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Medium; Fair; Dark</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="spfValue" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: 15; 30; 45</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:integer"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isAntiAging" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isHypoallergenic" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isOilFree" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isParabenFree" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isNoncomodegenic" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="scent" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Descriptive term for fragrance. Example: Vanilla; Geranium; Rose</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isUnscented" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isVegan" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isWaterproof" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isTinted" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isSelfTanning" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isDrugFactsLabelRequired" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Indicates if item requires drug facts labeling. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="drugFactsLabel" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>URL of the location of the label. Example: http://www.example.com/drug_facts.html</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:anyURI">
                              <xsd:maxLength value="2000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="activeIngredients" minOccurs="0" maxOccurs="1" type="ActiveIngredients">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="inactiveIngredients" minOccurs="0" maxOccurs="1" type="InactiveIngredients">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="form" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Describes the way the item is dispensed or consumed, including its texture or other physical characteristics. Example: Spray; Foam; Cream; Gel; Tablet; Suppository</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="organicCertifications" minOccurs="0" maxOccurs="1" type="OrganicCertifications">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="instructions" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Text of how to use the item.</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="stopUseIndications" minOccurs="0" maxOccurs="1" type="StopUseIndications">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="MedicineAndSupplements">
          <xsd:sequence>
               <xsd:element name="isDrugFactsLabelRequired" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Indicates if item requires drug facts labeling. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="drugFactsLabel" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>URL of the location of the label. Example: http://www.example.com/drug_facts.html</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:anyURI">
                              <xsd:maxLength value="2000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isSupplementFactsLabelRequired" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Indicates if item requires supplement facts labeling. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="supplementFactsLabel" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>URL of the location of the label. Example: http://www.example.com/supplement_facts.html</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:anyURI">
                              <xsd:maxLength value="2000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="servingSize" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: 0.4mL (40 mg)</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="servingsPerContainer" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: 8.0</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:decimal"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="activeIngredients" minOccurs="0" maxOccurs="1" type="ActiveIngredients">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="inactiveIngredients" minOccurs="0" maxOccurs="1" type="InactiveIngredients">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="healthConcerns" minOccurs="0" maxOccurs="1" type="HealthConcerns">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="form" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Describes the way the item is dispensed or consumed, including its texture or other physical characteristics. Example: Spray; Foam; Cream; Gel; Tablet; Suppository</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="organicCertifications" minOccurs="0" maxOccurs="1" type="OrganicCertifications">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="instructions" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Text of how to use the item.</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="dosage" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: 1 teaspoon every 6 hours</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="stopUseIndications" minOccurs="0" maxOccurs="1" type="StopUseIndications">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="HealthAndBeauty">
          <xsd:sequence>
               <xsd:element name="swatchImages" minOccurs="0" maxOccurs="1" type="SwatchImages">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Conditionally Required"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="collection" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>A collection is a particular group of items that have the same visual style, made by the same brand. Example: L'Oreal Infallible; Sophia;</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="variantAttributeNames" minOccurs="0" maxOccurs="1" type="VariantAttributeNames">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Conditionally Required"/>
                              <conditionalAttributes> <conditionalAttribute name="variantGroupId"/>
                              </conditionalAttributes>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="flexibleSpendingAccountEligible" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Indicates if item is FSA-Eligible. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="variantGroupId" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Required if item is a variant.
 
Make up a number for "Variant Group ID," and add this to all variations of the same product. Partners must ensure uniqueness of their Variant Group IDs.</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Conditionally Required"/>
                              <conditionalAttributes> <conditionalAttribute name="variantAttributeNames"/>
                              </conditionalAttributes>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="20"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isPrimaryVariant" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Note whether item is intended as the main variant in a variant grouping. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="fabricContent" minOccurs="0" maxOccurs="1" type="FabricContent">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="isAdultProduct" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Indicates if item is adult in nature and should not appear in results for children's products. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="fabricCareInstructions" minOccurs="0" maxOccurs="1" type="FabricCareInstructions">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="brand" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>If item does not have a brand, enter "Unbranded" Example: HP; Toshiba; Unbranded</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Required"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="manufacturer" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Manufacturer is the maker of the product. This is the name of the company that produces the product, not necessarily the brand name of the item.</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="modelNumber" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Having this information allows customers to search for items on the site and informs product matching.</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="manufacturerPartNumber" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>MPN uniquely identifies the product to its manufacturer. For many products this will be identical to the model number. Some manufacturers distinguish part number from model number.</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="gender" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>To specify target gender of the item. Example: Women; Men; Girls; Boys; Unisex</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="Unisex"/>
                              <xsd:enumeration value="Women"/>
                              <xsd:enumeration value="Men"/>
                              <xsd:enumeration value="Boys"/>
                              <xsd:enumeration value="Girls"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="color" minOccurs="0" maxOccurs="1" type="Color">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="ageGroup" minOccurs="0" maxOccurs="1" type="AgeGroup">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="isReusable" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Indicates the item can be used more than once. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isDisposable" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Indicates the item is intended for single use. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="material" minOccurs="0" maxOccurs="1" type="Material">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="isPowered" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Indicates that an item is powered. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="numberOfPieces" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The total number of pieces included in the item's package. Example: 15; 325</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:integer"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="character" minOccurs="0" maxOccurs="1" type="Character">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="powerType" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Provides information on the exact type of power used by the item. Example: Electric; Batteries</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isPersonalizable" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Denotes if the item can be customized in some way, including engraved, embroidered, stamped, etched, etc. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="bodyParts" minOccurs="0" maxOccurs="1" type="BodyParts">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="isPortable" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Is the item portable? Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="cleaningCareAndMaintenance" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Description of how the item should be cleaned and maintained.</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isSet" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Please indicate whether this product consists of two or more items sold together as a set. (example: lipstick + lip-liner) Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isTravelSize" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Please indicate whether the product is a smaller version of a larger-sized product. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="recommendedUses" minOccurs="0" maxOccurs="1" type="RecommendedUses">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="shape" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Physical shape of the item. Example: Aviator; Cateye; Horned; Oval; Rectangle; Round; Square; Wayfarer</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="compatibleBrands" minOccurs="0" maxOccurs="1" type="CompatibleBrands">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:choice minOccurs="0" maxOccurs="1">
                    <xsd:element name="HealthAndBeautyElectronics" type="HealthAndBeautyElectronics"/>
                    <xsd:element name="Optical" type="Optical"/>
                    <xsd:element name="MedicalAids" type="MedicalAids"/>
                    <xsd:element name="PersonalCare" type="PersonalCare"/>
                    <xsd:element name="MedicineAndSupplements" type="MedicineAndSupplements"/>
               </xsd:choice>
          </xsd:sequence>
     </xsd:complexType>
</xsd:schema>
