xsd/WalmartMarketplaceXSDs-2.1.6/mp/Clothing.xsd

<?xml version="1.0" encoding="UTF-8"?><!--  Schema for data exchanged between Walmart and its partners. Copyright 2015 Walmart Corporation. All rights reserved. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://walmart.com/" targetNamespace="http://walmart.com/" elementFormDefault="qualified" version="2.1">
     <xsd:include schemaLocation="MPProductCommons.xsd"/>
     <xsd:complexType name="WomensSwimsuits">
          <xsd:sequence>
               <xsd:element name="braSize" minOccurs="0" maxOccurs="1" type="BraSize">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="swimsuitStyle" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: tankini; one-piece; mix  match separates; two-piece set; bikini; cover-up; slimming</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="Bras">
          <xsd:sequence>
               <xsd:element name="braStyle" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Racerback; Convertible; Strapless; Push-Up; Bandeau; Demi Cup; Nursing; Full Coverage;
Full-Figure; Sport Bras; Underwire; Wire-Free; Lightly Lined; T-Shirt</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="braSize" minOccurs="0" maxOccurs="1" type="BraSize">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Conditionally Required"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="Skirts">
          <xsd:sequence>
               <xsd:element name="waistSize" minOccurs="0" maxOccurs="1" type="LengthUnit">
                    <xsd:annotation>
                         <xsd:documentation>Waist size in inches. Example: 38 in</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Conditionally Required"/>
                              <conditionalAttributes> <conditionalAttribute name="clothingSize" value="null"/>
                              </conditionalAttributes>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="skirtAndDressCut" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: A-Line; Asymmetrical; Bubble; Flare; Peasant; Pencil; Pleated; Wrap</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="PantsAndShorts">
          <xsd:sequence>
               <xsd:element name="pantSize" minOccurs="0" maxOccurs="1" type="PantSize">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Conditionally Required"/>
                              <conditionalAttributes> <conditionalAttribute name="clothingSize" value="null"/>
                              </conditionalAttributes>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="pantRise" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Mid; High; Low; Ultra-Low</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="pantStyle" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Capri; Cargo; Carpenter; Harem; Relaxed; Skinny; Straight Leg</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="pantPanelStyle" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Demi Panel; Mid-Belly Panel; Full Panel</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="ShirtsAndTops">
          <xsd:sequence>
               <xsd:element name="shirtSize" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Conditionally Required"/>
                              <conditionalAttributes> <conditionalAttribute name="clothingSize" value="null"/>
                              </conditionalAttributes>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="shirtNeckStyle" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Mock Neck; One Shoulder; Scoop Neck; Split Neck; V-Neck</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="sleeveStyle" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Short Sleeve; Cap Sleeve; Long Sleeve; Sleeveless; 3/4 Sleeve</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="ClothingAccessories">
          <xsd:sequence>
               <xsd:element name="material" minOccurs="0" maxOccurs="1" type="Material">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="Dresses">
          <xsd:sequence>
               <xsd:element name="skirtAndDressCut" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: A-Line; Asymmetrical; Bubble; Flare; Peasant; Pencil; Pleated; Wrap</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="dressStyle" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Fit  Flare; Wrap; Faux-Wrap; Shift; Sheath; A-Line; Maxi</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="sleeveStyle" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Short Sleeve; Cap Sleeve; Long Sleeve; Sleeveless; 3/4 Sleeve</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="DressShirts">
          <xsd:sequence>
               <xsd:element name="dressShirtSize" minOccurs="0" maxOccurs="1" type="DressShirtSize">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Conditionally Required"/>
                              <conditionalAttributes> <conditionalAttribute name="clothingSize" value="null"/>
                              </conditionalAttributes>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="collarType" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Style of collar, as expressed by shape or design. Example: band collar; button collar; clifford collar; club collar; contrast collar; flat collar; peter pan collar; keyhole collar; mandarin collar; notched lapel; peak lapel; pin collar; point collar; polo collar; shawl collar; spread collar; straight collar; tennis collar;  tab collar; button tab collar; snap-tab collar; wing collar</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="sleeveStyle" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Short Sleeve; Cap Sleeve; Long Sleeve; Sleeveless; 3/4 Sleeve</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="Socks">
          <xsd:sequence>
               <xsd:element name="sockSize" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: 7-9; 9-11</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Conditionally Required"/>
                              <conditionalAttributes> <conditionalAttribute name="clothingSize" value="null"/>
                              </conditionalAttributes>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="sockStyle" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Dress; Athletic; Casual;  Knee-High; Trouser; Tube</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="Panties">
          <xsd:sequence>
               <xsd:element name="pantySize" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Panty size, if based on standard other than general clothing size. Example: 6/7/2015</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="pantyStyle" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Hipster; Hiphuggers; Boxers; Briefs; High Cut; Boy Shorts; Seamless; Bikini; Thong</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="Clothing">
          <xsd:sequence>
               <xsd:element name="swatchImages" minOccurs="0" maxOccurs="1" type="SwatchImages">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Conditionally Required"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="variantAttributeNames" minOccurs="0" maxOccurs="1" type="VariantAttributeNames">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Conditionally Required"/>
                              <conditionalAttributes> <conditionalAttribute name="variantGroupId"/>
                              </conditionalAttributes>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="variantGroupId" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Required if item is a variant.
 
Make up a number for "Variant Group ID," and add this to all variations of the same product. Partners must ensure uniqueness of their Variant Group IDs.</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Conditionally Required"/>
                              <conditionalAttributes> <conditionalAttribute name="variantAttributeNames"/>
                              </conditionalAttributes>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="20"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isPrimaryVariant" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Note whether item is intended as the main variant in a variant grouping. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="fabricContent" minOccurs="0" maxOccurs="1" type="FabricContent">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="fabricCareInstructions" minOccurs="0" maxOccurs="1" type="FabricCareInstructions">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="brand" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>If item does not have a brand, enter "Unbranded" Example: HP; Toshiba; Unbranded</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Required"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="manufacturer" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Manufacturer is the maker of the product. This is the name of the company that produces the product, not necessarily the brand name of the item.</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="modelNumber" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Having this information allows customers to search for items on the site and informs product matching.</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="clothingSize" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: S; M; L; 2; 4; 6</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Conditionally Required"/>
                              <conditionalAttributes> <conditionalAttribute name="sockSize" value="null"/> <conditionalAttribute name="dressShirtSize" value="null"/> <conditionalAttribute name="waistSize" value="null"/> <conditionalAttribute name="pantSize" value="null"/> <conditionalAttribute name="braSize" value="null"/>
                              </conditionalAttributes>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="gender" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>To specify target gender of the item. Example: Women; Men; Girls; Boys; Unisex</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="Unisex"/>
                              <xsd:enumeration value="Women"/>
                              <xsd:enumeration value="Men"/>
                              <xsd:enumeration value="Boys"/>
                              <xsd:enumeration value="Girls"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="color" minOccurs="1" maxOccurs="1" type="Color">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Required"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="ageGroup" minOccurs="0" maxOccurs="1" type="AgeGroup">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="clothingSizeType" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Regular; Slim; Plus; Petite Plus; Tall; Husky; Juniors; Big; Petite; Junior Plus; Big  Tall</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="Junior Plus"/>
                              <xsd:enumeration value="Petite Plus"/>
                              <xsd:enumeration value="Big  Tall"/>
                              <xsd:enumeration value="Plus"/>
                              <xsd:enumeration value="Juniors"/>
                              <xsd:enumeration value="Regular"/>
                              <xsd:enumeration value="Big"/>
                              <xsd:enumeration value="Husky"/>
                              <xsd:enumeration value="Slim"/>
                              <xsd:enumeration value="Tall"/>
                              <xsd:enumeration value="Petite"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isMaternity" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="pattern" minOccurs="0" maxOccurs="1" type="Pattern">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="character" minOccurs="0" maxOccurs="1" type="Character">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="occasion" minOccurs="0" maxOccurs="1" type="Occasion">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="apparelCategory" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Boys; Girls; Juniors; Maternity Plus; Maternity Wear; Men; Men's Big  Tall; Petites; School Uniforms; Women; Women's Plus; Young Men's</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="Young Men's"/>
                              <xsd:enumeration value="Maternity Plus"/>
                              <xsd:enumeration value="School Uniforms"/>
                              <xsd:enumeration value="Men's Big  Tall"/>
                              <xsd:enumeration value="Women's Plus"/>
                              <xsd:enumeration value="Petites"/>
                              <xsd:enumeration value="Maternity Wear"/>
                              <xsd:enumeration value="Newborn Girl"/>
                              <xsd:enumeration value="Boys"/>
                              <xsd:enumeration value="Baby Boy"/>
                              <xsd:enumeration value="Girls"/>
                              <xsd:enumeration value="Baby Girl"/>
                              <xsd:enumeration value="Newborn Boy"/>
                              <xsd:enumeration value="Juniors"/>
                              <xsd:enumeration value="Women"/>
                              <xsd:enumeration value="Men"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isPersonalizable" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Denotes if the item can be customized in some way, including engraved, embroidered, stamped, etched, etc. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isMadeFromRecycledMaterial" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="recycledMaterialContent" minOccurs="0" maxOccurs="1" type="RecycledMaterialContent">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Conditionally Required"/>
                              <conditionalAttributes> <conditionalAttribute name="isMadeFromRecycledMaterial" value="Y"/>
                              </conditionalAttributes>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="gotsCertification" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="season" minOccurs="0" maxOccurs="1" type="Season">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="sport" minOccurs="0" maxOccurs="1" type="Sport">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:choice minOccurs="0" maxOccurs="1">
                    <xsd:element name="WomensSwimsuits" type="WomensSwimsuits"/>
                    <xsd:element name="Bras" type="Bras"/>
                    <xsd:element name="Skirts" type="Skirts"/>
                    <xsd:element name="PantsAndShorts" type="PantsAndShorts"/>
                    <xsd:element name="ShirtsAndTops" type="ShirtsAndTops"/>
                    <xsd:element name="ClothingAccessories" type="ClothingAccessories"/>
                    <xsd:element name="Dresses" type="Dresses"/>
                    <xsd:element name="DressShirts" type="DressShirts"/>
                    <xsd:element name="Socks" type="Socks"/>
                    <xsd:element name="Panties" type="Panties"/>
               </xsd:choice>
          </xsd:sequence>
     </xsd:complexType>
</xsd:schema>
