xsd/WalmartMarketplaceXSDs-2.1.6/mp/Electronics.xsd

<?xml version="1.0" encoding="UTF-8"?><!--  Schema for data exchanged between Walmart and its partners. Copyright 2015 Walmart Corporation. All rights reserved. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://walmart.com/" targetNamespace="http://walmart.com/" elementFormDefault="qualified" version="2.1">
     <xsd:include schemaLocation="MPProductCommons.xsd"/>
     <xsd:complexType name="CellPhones">
          <xsd:sequence>
               <xsd:element name="cellPhoneType" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="resolution" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The commonly used resolution category of best fit for the panel. 1080p for a native resolution of 1920 x 1080, 4K for a native resolution of 4096 x 2160, and so on. Example: 1080p (HDTV)</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="screenSize" minOccurs="0" maxOccurs="1" type="LengthUnit">
                    <xsd:annotation>
                         <xsd:documentation>Typically measured on the diagonal in inches. Example: 42 in; 110 in; 5.6 in</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="mobileOperatingSystem" minOccurs="0" maxOccurs="1" type="MobileOperatingSystem">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="modelName" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The model name of the product as commonly used in marketing communications.</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="displayTechnology" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The primary technology used for the item's display. Example: OLED; Retina Display; DLP; Plasma; LCD</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="hasBluetooth" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Does the item provide wireless communication compatibility with the Bluetooth standard? Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="batteryLife" minOccurs="0" maxOccurs="1" type="TimeUnit">
                    <xsd:annotation>
                         <xsd:documentation>Life of the device's battery under ideal conditions (maximum run time). Example: 23 h; 6 h</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="cellPhoneServiceProvider" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The company responsible for the provision of the device's cellular service. Example: ATT; Verizon</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Required"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="cellularNetworkTechnology" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The cellular technology used by the device. Example: CDMA; GSM</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="frontFacingCameraMegapixels" minOccurs="0" maxOccurs="1" type="ResolutionUnit">
                    <xsd:annotation>
                         <xsd:documentation>The maximum resolution of the camera, provided in megapixels. Example: 16.0 MP; 24.2 MP</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="hasFlash" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Does the device incorporate a camera flash? Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="standbyTime" minOccurs="0" maxOccurs="1" type="TimeUnit">
                    <xsd:annotation>
                         <xsd:documentation>The number of continuous hours the device may remain in standby mode before shutting down. Example: 16 h; 47 h</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="talkTime" minOccurs="0" maxOccurs="1" type="TimeUnit">
                    <xsd:annotation>
                         <xsd:documentation>The number of continuous hours that the device may be used to make phone calls before shutting down. Example: 12 h; 3 h</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="rearCameraMegapixels" minOccurs="0" maxOccurs="1" type="ResolutionUnit">
                    <xsd:annotation>
                         <xsd:documentation>The maximum resolution of the camera, provided in megapixels. Example: 16.0 MP; 24.2 MP</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="maximumRamSupported" minOccurs="0" maxOccurs="1" type="DigitalCapacityUnit">
                    <xsd:annotation>
                         <xsd:documentation>The maximum amount of random access memory that the item is capable of supporting. Example: 16 GB; 1 TB</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="processorSpeed" minOccurs="0" maxOccurs="1" type="FrequencyUnit">
                    <xsd:annotation>
                         <xsd:documentation>Operational frequency of the central processing unit. Example: 3.00 GHz; 1.60 GHz; 66 MHz</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="processorType" minOccurs="0" maxOccurs="1" type="ProcessorType">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="ramMemory" minOccurs="0" maxOccurs="1" type="DigitalCapacityUnit">
                    <xsd:annotation>
                         <xsd:documentation>Random Access Memory is a type of computer data storage that allows information to be accessed in a random order. RAM is the most common type of memory found in computers and devices. Example: 16 GB; 1 TB</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="wirelessTechnologies" minOccurs="0" maxOccurs="1" type="WirelessTechnologies">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="TVsAndVideoDisplays">
          <xsd:sequence>
               <xsd:element name="televisionType" minOccurs="0" maxOccurs="1" type="TelevisionType">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="hasTouchscreen" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Does the display have touchscreen capabilities? Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="backlightType" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The backlighting used in the panel. Most commonly Cold Cathode Fluorescent Lamps (CCFLs) or Light Emitting Diodes (LED's). Example: CCFL; LED</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="refreshRate" minOccurs="0" maxOccurs="1" type="FrequencyUnit">
                    <xsd:annotation>
                         <xsd:documentation>Commonly the vertical refresh rate of the display. This is a measurement of the number of times the picture is updated per second, and should be recorded in Hz. Example: 60 Hz; 120 Hz; 600 Hz</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="responseTime" minOccurs="0" maxOccurs="1" type="TimeUnit">
                    <xsd:annotation>
                         <xsd:documentation>The amount of time the pixels in the display take to change from one state to another. Measured in milliseconds. Example: 5 ms; 2 ms</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="aspectRatio" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The proportional relationship between the display's width and its height. Commonly expressed as two numbers separated by a colon. Example: 4:3; 16:9; 21:9</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="nativeResolution" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The resolution of a flat panel display at which no scaling is used to create the images. This is the resolution that will render the highest picture quality when used with source material of a corresponding resolution. Example: 2560 x 1080; 1920 x 1080; 4096 x 2160.</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="maximumContrastRatio" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The ratio between the luminance of the brightest color to that of the darkest color capable of being displayed. Example: 20,000:1; 30,000,000:1</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="inputsAndOutputs" minOccurs="0" maxOccurs="1" type="InputsAndOutputs">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="hasIntegratedSpeakers" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Does the item include speakers integrated into the body of the main item? Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="resolution" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The commonly used resolution category of best fit for the panel. 1080p for a native resolution of 1920 x 1080, 4K for a native resolution of 4096 x 2160, and so on. Example: 1080p (HDTV)</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="screenSize" minOccurs="0" maxOccurs="1" type="LengthUnit">
                    <xsd:annotation>
                         <xsd:documentation>Typically measured on the diagonal in inches. Example: 42 in; 110 in; 5.6 in</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="displayTechnology" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The primary technology used for the item's display. Example: OLED; Retina Display; DLP; Plasma; LCD</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="wirelessTechnologies" minOccurs="0" maxOccurs="1" type="WirelessTechnologies">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="ElectronicsCables">
          <xsd:sequence>
               <xsd:element name="connectorFinish" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The plating used on the electrical mating surfaces of the connectors. Example: Gold; Tin</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="cableLength" minOccurs="0" maxOccurs="1" type="LengthUnit">
                    <xsd:annotation>
                         <xsd:documentation>The total length of the cable (including connectors), measured in feet. Example: 3 ft; 15 ft</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="numberOfTwistedPairsPerCable" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The number of twisted pair wires used within the cable. Example: 4; 100</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:integer"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="compatibleDevices" minOccurs="0" maxOccurs="1" type="CompatibleDevices">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="PrintersScannersAndImaging">
          <xsd:sequence>
               <xsd:element name="hasAutomaticDocumentFeeder" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Does the imaging device incorporate an automatic document feeder? Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="hasAutomaticTwoSidedPrinting" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Is the imaging device capable of providing two-sided prints automatically? Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="colorPagesPerMinute" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The number of color pages that the imaging device is able to produce per minute. Example: 12; 23</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:decimal"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="maximumDocumentSize" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The maximum document size that the imaging device is capable of handling. Example: Letter; A0</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="maximumPrintResolution" minOccurs="0" maxOccurs="1" type="ResolutionUnit">
                    <xsd:annotation>
                         <xsd:documentation>The maximum output resolution of the printer, measured in dots per inch. Example: 600 dpi; 1200 dpi</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="maximumScannerResolution" minOccurs="0" maxOccurs="1" type="ResolutionUnit">
                    <xsd:annotation>
                         <xsd:documentation>The maximum image resolution that the scanner is capable of capturing, measured in dots per inch. Example: 600 dpi; 1,200 dpi</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="monochromeColor" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Is the imaging device capable of color processing or monochrome only? Example: Monochrome; Color</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="Monochrome"/>
                              <xsd:enumeration value="Color"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="printingTechnology" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The primary technology used to produce prints. Example: Laser; Inkjet; N/A</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="monochromePagesPerMinute" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The number of monochrome pages that the imaging device is able to produce per minute. Example: 50; 36</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:decimal"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="wirelessTechnologies" minOccurs="0" maxOccurs="1" type="WirelessTechnologies">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="VideoGames">
          <xsd:sequence>
               <xsd:element name="videoGameGenre" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The game genre most strongly associated with the item. Example: Fighting  Shooting; Simulation; Strategy  Role-Playing; Health  Fitness; Music  Poetry; Casual  Flight; Kids  Family; Sports  Racing; Cards  Puzzles; Action  Adventure</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="esrbRating" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The rating as provided by the Entertainment Software Rating Board. Example: Pending; Unrated; Early Childhood; Mature; Teen; Everyone 10+; Not Rated; Adults Only</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Required"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="Pending"/>
                              <xsd:enumeration value="Adults Only"/>
                              <xsd:enumeration value="Everyone 10+"/>
                              <xsd:enumeration value="Everyone"/>
                              <xsd:enumeration value="Mature"/>
                              <xsd:enumeration value="Teen"/>
                              <xsd:enumeration value="Early Childhood"/>
                              <xsd:enumeration value="Unrated"/>
                              <xsd:enumeration value="Not Rated"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="sport" minOccurs="0" maxOccurs="1" type="Sport">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="targetAudience" minOccurs="0" maxOccurs="1" type="TargetAudience">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="isOnlineMultiplayerAvailable" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Does the game provide an online multiplayer option? Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isDownloadableContentAvailable" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Is extra content available to extend or enhance gameplay via a download? Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="edition" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The specific edition of the item. Example: Game of the Year; Limited; Ghost; Black; Anniversary</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="videoGameCollection" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The series of video game titles of which this is a part. Example: Fallout; Grand Theft Auto; Call of Duty; Halo</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="requiredPeripherals" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Any ancillary devices necessary to use the software. Example: PlayStation Move; Kinect; Flatbed Scanner</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="platform" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The hardware upon which the video game is designed to run or with which the product is compatible. Example: Mac; Nintendo DS  DSi; Nintendo 2DS; PlayStation 3; Nintendo Wii U; Playstation Portable; PC; Playstation 4; Nintendo Wii; VTech InnoTab; Xbox 360; Nintendo 3DS; Playstation 2; Xbox One</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Required"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="Software">
          <xsd:sequence>
               <xsd:element name="softwareCategory" minOccurs="0" maxOccurs="1" type="SoftwareCategory">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="systemRequirements" minOccurs="0" maxOccurs="1" type="SystemRequirements">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="version" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The version number assigned to this specific release of the software. Example: 7.2; 10.1</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="numberOfUsers" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The maximum number of users or installations allowable under the terms of the software licensing agreement. Example: 1; 15</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:integer"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="softwareFormat" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The format by which the software will be delivered, either through a download or upon physical media such as optical disks (CD, BD-ROM), memory cards, floppy disks, etc. Example: CD; DVD; Download</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="requiredPeripherals" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Any ancillary devices necessary to use the software. Example: PlayStation Move; Kinect; Flatbed Scanner</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="educationalFocus" minOccurs="0" maxOccurs="1" type="EducationalFocus">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="operatingSystem" minOccurs="0" maxOccurs="1" type="OperatingSystem">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="ComputerComponents">
          <xsd:sequence>
               <xsd:element name="internalExternal" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Primarily used to describe various drives, including hard drives. Also applicable to a number of other items that may be designed for internal installation or may be designed for external use (sound cards, memory card readers, network adapters, etc.) Example: Internal; External</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="Internal"/>
                              <xsd:enumeration value="External"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="hardDriveCapacity" minOccurs="0" maxOccurs="1" type="DigitalCapacityUnit">
                    <xsd:annotation>
                         <xsd:documentation>The amount of storage on a hard disk for retrieving and storing digital information, typically measured in megabytes, gigabytes, and terabytes. Example: 1 TB; 20 GB</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="cpuSocketType" minOccurs="0" maxOccurs="1" type="CpuSocketType">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="motherboardFormFactor" minOccurs="0" maxOccurs="1" type="MotherboardFormFactor">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="maximumRamSupported" minOccurs="0" maxOccurs="1" type="DigitalCapacityUnit">
                    <xsd:annotation>
                         <xsd:documentation>The maximum amount of random access memory that the item is capable of supporting. Example: 16 GB; 1 TB</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="processorSpeed" minOccurs="0" maxOccurs="1" type="FrequencyUnit">
                    <xsd:annotation>
                         <xsd:documentation>Operational frequency of the central processing unit. Example: 3.00 GHz; 1.60 GHz; 66 MHz</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="processorType" minOccurs="0" maxOccurs="1" type="ProcessorType">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="ramMemory" minOccurs="0" maxOccurs="1" type="DigitalCapacityUnit">
                    <xsd:annotation>
                         <xsd:documentation>Random Access Memory is a type of computer data storage that allows information to be accessed in a random order. RAM is the most common type of memory found in computers and devices. Example: 16 GB; 1 TB</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="wirelessTechnologies" minOccurs="0" maxOccurs="1" type="WirelessTechnologies">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="ElectronicsAccessories">
          <xsd:sequence>
               <xsd:element name="recordableMediaFormats" minOccurs="0" maxOccurs="1" type="RecordableMediaFormats">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="compatibleBrands" minOccurs="0" maxOccurs="1" type="CompatibleBrands">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="compatibleDevices" minOccurs="0" maxOccurs="1" type="CompatibleDevices">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="wirelessTechnologies" minOccurs="0" maxOccurs="1" type="WirelessTechnologies">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="tvAndMonitorMountType" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="minimumScreenSize" minOccurs="0" maxOccurs="1" type="LengthUnit">
                    <xsd:annotation>
                         <xsd:documentation> Example: 55 in</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="maximumScreenSize" minOccurs="0" maxOccurs="1" type="LengthUnit">
                    <xsd:annotation>
                         <xsd:documentation>The maximum size of television designed to be accommodated by the product as dictated by the screen size class.  e.g. 40", 55", 70". Example: 65 in</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="maximumLoadWeight" minOccurs="0" maxOccurs="1" type="WeightUnit">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="headphoneFeatures" minOccurs="0" maxOccurs="1" type="HeadphoneFeatures">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="Computers">
          <xsd:sequence>
               <xsd:element name="operatingSystem" minOccurs="0" maxOccurs="1" type="OperatingSystem">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="hasFrontFacingCamera" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Does the item incorporate a front-facing camera? Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="graphicsInformation" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Basic graphics processor or graphics card information. Example: AMD Radeon HD 6410D; Nvidia GTX 8600</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="opticalDrive" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Technology of the optical disk drive if one be present. Example: CD ROM. CD RW; BD ROM</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="formFactor" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Commonly used term for the physical size to which the computer conforms. Example: Tower; Micro Tower; Nettop</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="hasTouchscreen" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Does the display have touchscreen capabilities? Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="resolution" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The commonly used resolution category of best fit for the panel. 1080p for a native resolution of 1920 x 1080, 4K for a native resolution of 4096 x 2160, and so on. Example: 1080p (HDTV)</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="screenSize" minOccurs="0" maxOccurs="1" type="LengthUnit">
                    <xsd:annotation>
                         <xsd:documentation>Typically measured on the diagonal in inches. Example: 42 in; 110 in; 5.6 in</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="displayTechnology" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The primary technology used for the item's display. Example: OLED; Retina Display; DLP; Plasma; LCD</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="hasBluetooth" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Does the item provide wireless communication compatibility with the Bluetooth standard? Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="batteryLife" minOccurs="0" maxOccurs="1" type="TimeUnit">
                    <xsd:annotation>
                         <xsd:documentation>Life of the device's battery under ideal conditions (maximum run time). Example: 23 h; 6 h</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="frontFacingCameraMegapixels" minOccurs="0" maxOccurs="1" type="ResolutionUnit">
                    <xsd:annotation>
                         <xsd:documentation>The maximum resolution of the camera, provided in megapixels. Example: 16.0 MP; 24.2 MP</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="rearCameraMegapixels" minOccurs="0" maxOccurs="1" type="ResolutionUnit">
                    <xsd:annotation>
                         <xsd:documentation>The maximum resolution of the camera, provided in megapixels. Example: 16.0 MP; 24.2 MP</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="hardDriveCapacity" minOccurs="0" maxOccurs="1" type="DigitalCapacityUnit">
                    <xsd:annotation>
                         <xsd:documentation>The amount of storage on a hard disk for retrieving and storing digital information, typically measured in megabytes, gigabytes, and terabytes. Example: 1 TB; 20 GB</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="maximumRamSupported" minOccurs="0" maxOccurs="1" type="DigitalCapacityUnit">
                    <xsd:annotation>
                         <xsd:documentation>The maximum amount of random access memory that the item is capable of supporting. Example: 16 GB; 1 TB</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="processorSpeed" minOccurs="0" maxOccurs="1" type="FrequencyUnit">
                    <xsd:annotation>
                         <xsd:documentation>Operational frequency of the central processing unit. Example: 3.00 GHz; 1.60 GHz; 66 MHz</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="processorType" minOccurs="0" maxOccurs="1" type="ProcessorType">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="ramMemory" minOccurs="0" maxOccurs="1" type="DigitalCapacityUnit">
                    <xsd:annotation>
                         <xsd:documentation>Random Access Memory is a type of computer data storage that allows information to be accessed in a random order. RAM is the most common type of memory found in computers and devices. Example: 16 GB; 1 TB</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="wirelessTechnologies" minOccurs="0" maxOccurs="1" type="WirelessTechnologies">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="VideoProjectors">
          <xsd:sequence>
               <xsd:element name="aspectRatio" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The proportional relationship between the display's width and its height. Commonly expressed as two numbers separated by a colon. Example: 4:3; 16:9; 21:9</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="brightness" minOccurs="0" maxOccurs="1" type="BrightnessUnit">
                    <xsd:annotation>
                         <xsd:documentation>The brightness level that the item is capable of achieving, measured in lumens. Example: 2000 lm; 5000 lm</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="nativeResolution" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The resolution of a flat panel display at which no scaling is used to create the images. This is the resolution that will render the highest picture quality when used with source material of a corresponding resolution. Example: 2560 x 1080; 1920 x 1080; 4096 x 2160.</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="maximumContrastRatio" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The ratio between the luminance of the brightest color to that of the darkest color capable of being displayed. Example: 20,000:1; 30,000,000:1</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="throwRatio" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>A projector's throw ratio is defined as the distance (D), measured from lens to screen, that a projector is placed from the screen, divided by the width (W) of the image that it will project (D/W). Example: 1.8:1; 2.0:1</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="lampLife" minOccurs="0" maxOccurs="1" type="TimeUnit">
                    <xsd:annotation>
                         <xsd:documentation>The expected life of the projection lamp in hours. Example: 6500 hours; 10000 hours</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="has3dCapabilities" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Is the display capable of displaying 3D imagery when presented with the appropriate source material? Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="inputsAndOutputs" minOccurs="0" maxOccurs="1" type="InputsAndOutputs">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="hasIntegratedSpeakers" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Does the item include speakers integrated into the body of the main item? Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="screenSize" minOccurs="0" maxOccurs="1" type="LengthUnit">
                    <xsd:annotation>
                         <xsd:documentation>Typically measured on the diagonal in inches. Example: 42 in; 110 in; 5.6 in</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="displayTechnology" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The primary technology used for the item's display. Example: OLED; Retina Display; DLP; Plasma; LCD</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Optional"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="wirelessTechnologies" minOccurs="0" maxOccurs="1" type="WirelessTechnologies">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
          </xsd:sequence>
     </xsd:complexType>
     <xsd:complexType name="Electronics">
          <xsd:sequence>
               <xsd:element name="swatchImages" minOccurs="0" maxOccurs="1" type="SwatchImages">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Conditionally Required"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="variantAttributeNames" minOccurs="0" maxOccurs="1" type="VariantAttributeNames">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Conditionally Required"/>
                              <conditionalAttributes> <conditionalAttribute name="variantGroupId"/>
                              </conditionalAttributes>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="variantGroupId" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Required if item is a variant.
 
Make up a number for "Variant Group ID," and add this to all variations of the same product. Partners must ensure uniqueness of their Variant Group IDs.</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Conditionally Required"/>
                              <conditionalAttributes> <conditionalAttribute name="variantAttributeNames"/>
                              </conditionalAttributes>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="20"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isPrimaryVariant" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Note whether item is intended as the main variant in a variant grouping. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isEnergyGuideLabelRequired" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Denotes whether the label is required for the item. The FTC's Appliance Labeling Rule requires retailers to display energy cost information for certain refrigerators, freezers, furnaces, televisions, clothes washers, dishwashers, water heaters, pool heaters, and room air conditioners. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="energyGuideLabel" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Image URL of the energy guide label. Example: http://walmart.com/energy_guide_label.html</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Conditionally Required"/>
                              <conditionalAttributes> <conditionalAttribute name="isEnergyGuideLabelRequired" value="Y"/>
                              </conditionalAttributes>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:anyURI">
                              <xsd:maxLength value="2000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="hasSignalBooster" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Denotes if any portion of the item has a signal booster. This information will be displayed on the item page. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="hasWirelessMicrophone" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Denotes if any portion of the item has a wireless microphone. This information will be displayed on the item page. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="brand" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>If item does not have a brand, enter "Unbranded" Example: HP; Toshiba; Unbranded</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Required"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="manufacturer" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Manufacturer is the maker of the product. This is the name of the company that produces the product, not necessarily the brand name of the item.</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="modelNumber" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Having this information allows customers to search for items on the site and informs product matching.</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="manufacturerPartNumber" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>MPN uniquely identifies the product to its manufacturer. For many products this will be identical to the model number. Some manufacturers distinguish part number from model number.</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="color" minOccurs="0" maxOccurs="1" type="Color">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="ageGroup" minOccurs="0" maxOccurs="1" type="AgeGroup">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="batteriesRequired" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Indicates if batteries are required to use the item. Batteries may or may not be included. To specify battery inclusion and type, use the "Has Batteries" and "Battery Technology Type" attributes in the root spec. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="batterySize" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isEnergyStarCertified" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="connections" minOccurs="0" maxOccurs="1" type="Connections">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="material" minOccurs="0" maxOccurs="1" type="Material">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="numberOfPieces" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The total number of pieces included in the item's package. Example: 15; 325</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:integer"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isRemoteControlIncluded" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Is a remote control included with the item? Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isPersonalizable" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Denotes if the item can be customized in some way, including engraved, embroidered, stamped, etched, etc. Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isPortable" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>Is the item portable? Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="isCordless" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: Y; N</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="recommendedUses" minOccurs="0" maxOccurs="1" type="RecommendedUses">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="recommendedLocations" minOccurs="0" maxOccurs="1" type="RecommendedLocations">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="audioPowerOutput" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The audio output power of the amplifier or self-powered device's speakers, expressed in Watts. A self-powered item has an internal amplifier; it does not need to be plugged into a power amplifier to produce sound. Example: 5W + 5W; 7.5W</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="peakAudioPowerCapacity" minOccurs="0" maxOccurs="1" type="PowerUnit">
                    <xsd:annotation>
                         <xsd:documentation>The peak audio input power capacity this passive item can handle from an amplifier, expressed in Watts. A passive item (device, speaker, etc) has no internal amplifier; it must be plugged into a power amplifier to produce sound. Example: 400 W; 1500 W</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="audioFeatures" minOccurs="0" maxOccurs="1" type="AudioFeatures">
                    <xsd:annotation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
               </xsd:element>
               <xsd:element name="numberOfChannels" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation> Example: 2.1; 7.1; 4; 6</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="resolution" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The commonly used resolution category of best fit for the panel. 1080p for a native resolution of 1920 x 1080, 4K for a native resolution of 4096 x 2160, and so on. Example: 1080p (HDTV)</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:element name="platform" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                         <xsd:documentation>The hardware upon which the video game is designed to run or with which the product is compatible. Example: Mac; Nintendo DS  DSi; Nintendo 2DS; PlayStation 3; Nintendo Wii U; Playstation Portable; PC; Playstation 4; Nintendo Wii; VTech InnoTab; Xbox 360; Nintendo 3DS; Playstation 2; Xbox One</xsd:documentation>
                         <xsd:appinfo>
                              <requiredLevel value="Recommended"/>
                         </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                         <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="4000"/>
                         </xsd:restriction>
                    </xsd:simpleType>
               </xsd:element>
               <xsd:choice minOccurs="0" maxOccurs="1">
                    <xsd:element name="CellPhones" type="CellPhones"/>
                    <xsd:element name="TVsAndVideoDisplays" type="TVsAndVideoDisplays"/>
                    <xsd:element name="ElectronicsCables" type="ElectronicsCables"/>
                    <xsd:element name="PrintersScannersAndImaging" type="PrintersScannersAndImaging"/>
                    <xsd:element name="VideoGames" type="VideoGames"/>
                    <xsd:element name="Software" type="Software"/>
                    <xsd:element name="ComputerComponents" type="ComputerComponents"/>
                    <xsd:element name="ElectronicsAccessories" type="ElectronicsAccessories"/>
                    <xsd:element name="Computers" type="Computers"/>
                    <xsd:element name="VideoProjectors" type="VideoProjectors"/>
               </xsd:choice>
          </xsd:sequence>
     </xsd:complexType>
</xsd:schema>
